<?xml version="1.0"?>
<!--
  底盘速度串口启动文件：
  启动 chassis_kinematics，把 /cmd_vel 底盘整体速度发给 ATmega。
  三轮运动学、限幅和平滑由下位机执行。
-->
<launch>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="body_twist_topic" default="/chassis/body_twist"/>
  <arg name="wheel_feedback_topic" default="/chassis/wheel_feedback"/>
  <arg name="serial_tx_topic" default="/atmega_serial_bridge/tx"/>
  <arg name="obstacle_stop_topic" default="/safety/obstacle_stop"/>
  <arg name="publish_serial" default="true"/>
  <arg name="start_wheel_odometry" default="true"/>

  <arg name="max_linear_mps" default="0.80"/>
  <arg name="max_angular_radps" default="2.50"/>
  <arg name="wheel_base_radius_m" default="0.1337147"/>
  <arg name="wheel_radius_m" default="0.0425"/>
  <arg name="wheel_feedback_scale" default="100.0"/>
  <arg name="control_rate_hz" default="30.0"/>
  <arg name="command_timeout_s" default="0.35"/>

  <node pkg="amseokbot_milo" type="chassis_kinematics" name="chassis_kinematics" output="screen">
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="body_twist_topic" value="$(arg body_twist_topic)"/>
    <param name="serial_tx_topic" value="$(arg serial_tx_topic)"/>
    <param name="obstacle_stop_topic" value="$(arg obstacle_stop_topic)"/>
    <param name="publish_serial" value="$(arg publish_serial)"/>

    <param name="serial_command_prefix" value="CHASSIS"/>
    <param name="max_linear_mps" value="$(arg max_linear_mps)"/>
    <param name="max_angular_radps" value="$(arg max_angular_radps)"/>
    <param name="control_rate_hz" value="$(arg control_rate_hz)"/>
    <param name="command_timeout_s" value="$(arg command_timeout_s)"/>
  </node>

  <group if="$(arg start_wheel_odometry)">
    <include file="$(find amseokbot_milo)/launch/wheel_odometry.launch">
      <arg name="wheel_feedback_topic" value="$(arg wheel_feedback_topic)"/>
      <arg name="wheel_feedback_scale" value="$(arg wheel_feedback_scale)"/>
      <arg name="wheel_base_radius_m" value="$(arg wheel_base_radius_m)"/>
      <arg name="wheel_radius_m" value="$(arg wheel_radius_m)"/>
    </include>
  </group>
</launch>
